PORTALDOT_WS=wss://YOUR-PORTALDOT-TESTNET-RPC
DEPLOYER_URI=//Alice
CONTRACT_WASM=../contracts/portagrant/target/wasm32-unknown-unknown/release/portagrant.wasm
CONTRACT_METADATA=../contracts/portagrant/portagrant.json